<template>
  <div class="resumaide-resume">
    Resume
  </div>
</template>

<script>
export default {
  name: 'Resume',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
