<template>
  <div class="resumaide-roles">
    Roles
    <p>{{ roles }}</p>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>

<script lang="ts">

import { mapMutations, mapGetters } from 'vuex';

const path = require('path');

export default {
  name: 'Roles',
  computed: mapGetters({
    roles: 'roles/roles',
  }),
};

</script>
