<template>
  <div class="resumaide-templates">
    Templates
  </div>
</template>

<script>
export default {
  name: 'Templates'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
