<template lang="html">
  <div class="container">
    <nav>
      <ul>
        <li
         v-for="route in $router.options.routes"
         v-if="route.name != 'index'"
        >
        <router-link :key="route.path" :to="route.path">
          {{ route.name }}
        </router-link>
      </li>
      </ul>
    </nav>
    <div class="body">
      <nuxt />
    </div>
  </div>
</template>

<script lang="ts">
  export default {
    data(context:any) {
      // let routeOrder = ['Resume', 'Roles', 'Templates', 'Help'];
      let orderedRoutes = context.$router.options.routes;
      // orderedRoutes.sort(function(e1:any, e2:any){
      //   return routeOrder.indexOf(e1.name) - routeOrder.indexOf(e2.name);
      // });
      return {
        orderedRoutes
      };
    }
  }
</script>
